@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    height: 100%;
}

body {
    min-height: 100%;
}

#projectCard {
    max-width: 400px;
}

.main-title::before,
.main-title::after {
    content: "";
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: black;
}

.main-title::after {
    right: -50px;
}

.main-title::before {
    left: -50px;
}